<!-- <div class="bg-danger">
    <div class="card text-white bg-danger " style="width: 100%;">
        <div class="card-header">
            <p style="float: left; color: thistle;" class="h5">@copyright 2020</p>
        </div>
    </div>
</div> -->


<div class="text-center text-white">
    <div class="card-header bg-danger">
        Featured
    </div>
    <div class="card-body" style="background-color: rgb(189, 27, 49);">
        <h5 class="card-title">Social Platforms</h5>
        <div style="width: auto;" class="form-group">

            <img style="margin:20px;" width="30px" src=".\assets\icons\fb.png" alt="..." class="rounded-circle">

            <img style="margin:20px;" width="30px" src=".\assets\icons\inst.png" alt="..." class="rounded-circle">

            <img style="margin:20px;" width="30px" src=".\assets\icons\twi.png" alt="..." class="rounded-circle">


        </div>


    </div>
    <div class="card-footer text-light bg-danger">
        @copyright 2020
    </div>
</div>