<div>
    <div class="bg-danger">
        <div class="card text-white bg-danger " style="width: 100%;">
            <div class="card-header">
                <p style="float: left;" class="h5">Heads up! Welcome to Library MS</p>
                
                <p style="float: right;" class="h5">{{ Nowdate | date :'short' }}</p>

            </div>
        </div>
    </div>

    <div class="card md-4" style="max-width: 100%">
        <div class="row no-gutters">
            <div class="col-md-3">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-danger"><img
                            style="padding-bottom: 3px; width: 28px; height: auto;"
                            src=".\assets\icons\icons8-call-64.png" alt="">Contactus</button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Address</h5>

                    <p class="card-text">
                        Chirrakkal Palace,<br>
                        Bengalure, Karnataka,<br>
                        Pin: 676533

                    </p>
                    <p style="padding-top: 40px;" class="card-text"><small class="text-muted">@info.library.com</small>
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <img style="float: left; width:112.5%; height: auto;"
                    src=".\assets\images\patrick-tomasso-Oaqk7qqNh_c-unsplash (2).jpg" class="card-img" alt="...">

            </div>
        </div>
    </div>
</div>